<br><hr><br>
<app-global-footer>
  <footer>
    <div class="container-fluid">
      <div class="row col-md-12 link-tree">
        <div class="links">
          <p class="category">Explore</p>
          <p><a href="/mining">Mining Dashboard</a></p>
          <p><a href="/blocks">Recent Blocks</a></p>
          <p><a href="/tx/push">Broadcast Transaction</a></p>
          <p><a href="/docs/api">API Documentation</a></p>
        </div>
        <div class="links">
          <p class="category">Learn</p>
          <p><a fragment="what-is-a-mempool" href="/docs/faq#what-is-a-mempool">What is a mempool?</a></p>
          <p><a fragment="what-is-a-block-explorer" href="/docs/faq#what-is-a-block-explorer">What is a block explorer?</a></p>
          <p><a href="/docs/faq">More FAQs</a></p>
        </div>
        <div class="links">
          <p class="category">Networks</p>
          <p><a href="/">Testnet Explorer</a></p>
        </div>
        <div class="links">
          <p class="category">Legal</p>
          <p><a href="/terms-of-service">Terms of Service</a></p>
          <p><a href="/privacy-policy">Privacy Policy</a></p>
        </div>
      </div>
      <div class="row social-links">
        <div class="col-sm-12">
          <a href="https://github.com/ClubHashCash" target="_blank">Github</a>
          <a href="https://x.com/clubhashcash" target="_blank">X</a>
        </div>
      </div>
    </div>
  </footer>
</app-global-footer>
