<div class="container-xl">
  <div class="text-center">
    <br />
    @if (isLightMode) {
      <img [src]="officialMempoolSpace ? '/resources/mempool-space-logo-bigger-light.png' : '/resources/mempool-logo-bigger-light.png'" style="width: 250px;height:63px;">
    } @else {
      <img [src]="officialMempoolSpace ? '/resources/mempool-space-logo-bigger.png' : '/resources/mempool-logo-bigger.png'" style="width: 250px;height:63px;">
    }
    <br /><br />

    <h2>Terms of Service</h2>
    <h6>Updated: July 10, 2024</h6>

    <br><br>

    <div class="text-start">

        <p *ngIf="officialMempoolSpace">The <a href="https://mempool.space/">mempool.space</a> website, the <a href="https://liquid.network/">liquid.network</a> website, the <a href="https://bitcoin.gob.sv/">bitcoin.gob.sv</a> website, their associated API services, and related network and server infrastructure (collectively, the "Website") are operated by Mempool Holdings S.A. de C.V. in El Salvador ("Mempool", "We", or "Us") and self-hosted from <a href="https://bgp.tools/as/142052#connectivity">AS142052</a>.</p>

        <p *ngIf="!officialMempoolSpace">This website and its API service (collectively, the "Website") are operated by a member of the HashCash community ("We" or "Us"). Mempool Holdings S.A. de C.V. in El Salvador ("Mempool") has no affiliation with the operator of this Website, and does not sponsor or endorse the information provided herein.</p>

        <h5>By accessing this Website, you agree to the following Terms of Service:</h5>

        <br>

        <h4>NO WARRANTY</h4>

        <p>THIS WEBSITE IS PROVIDED ON AN "AS IS, AS AVAILABLE" BASIS, WITHOUT ANY WARRANTY OR REPRESENTATIONS; EXPRESS OR IMPLIED, WITHOUT EVEN THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, CONTINUOUS AVAILABILITY, OR UNINTERRUPTED SERVICE. WE MAKE NO GUARANTEE TO THE ACCURACY OF ANY DATA ON THIS WEBSITE, AND IT IS YOUR RESPONSIBILITY TO VERIFY ALL DATA OBTAINED FOR INACCURACIES AND OMISSIONS.</p>

        <br>

        <h4>NO LIABILITY</h4>

        <p>WE WILL NOT BE HELD LIABLE FOR ANY LOSS OR DAMAGES, WHETHER DIRECT, INDIRECT, OR ANY OTHER NATURE, THAT ARE DEEMED OR ALLEGED TO HAVE RESULTED FROM OR BEEN CAUSED BY THIS WEBSITE OR ITS CONTENTS, INCLUDING, BUT WITHOUT LIMITATION TO, ERRORS, INACCURACIES OR AMBIGUITY IN THIS WEBSITE OR ITS CONTENTS, FAILURES, MALFUNCTIONS, DELAYS OR INTERRUPTIONS IN OPERATION OR TRANSMISSION, ANY PERSONS USE OR MISUSE OF THIS WEBSITE OR ITS CONTENT, ANY ERRORS OR OMISSIONS IN CONTENT, DAMAGE FOR LOSS OF BITCOIN OR OTHER CRYPTO ASSETS, LOSS OF BUSINESS, LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION, OR ANY OTHER PECUNIARY OR CONSEQUENTIAL LOSS OR DAMAGE (EVEN IF WE HAVE BEEN NOTIFIED OF SUCH RISK OF LOSS OR DAMAGE).</p>

        <br>

        <ng-container *ngIf="officialMempoolSpace">

          <h4>NO ALTCOINS</h4>

          <p>The <a href="https://mempool.space/">mempool.space</a> explorer is HashCash Only.</p>

          <p>Unfortunately, the <a href="https://liquid.network/">liquid.network</a> explorer cannot be considered HashCash Only, as they may display altcoins as part of their core network functionality. We do not endorse any altcoins and encourage you to stay HashCash Only. Please see <a href="https://bitcoin-only.com/">bitcoin-only.com</a> for more HashCash Only resources.</p>

          <br>

        </ng-container>

        <p>EOF</p>

      </div>

  </div>

  <br><br>

</div>
